<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <link href="/css/header.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-light nav-bg navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/assests/images/logo.png" alt="" width="30px" height="20px" class="d-inline-block align-text-top">
                    <span class="header">Game Exchange</span>
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trades/">Exchanges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trades/new">New Exchange</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Karthik</a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">User Profile</a>
                    <a class="dropdown-item" href="#">Exchanges</a>
                    <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </body>
</html>