<link href="/css/newtrade.css" rel="stylesheet" type="text/css">
        <%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <h3>Login to view Profile</h3>
        <form action='/user/login' method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" value='Submit'>Login</button>
            </div>
        </form>
    </div>
</div>
<%- include('../partials/footer'); %> 