<%- include('../partials/header'); %>
<div class="container">
    <div class="jumbotron">
        <h1>Game Exchange</h1>
        <p>For Queries reach us at.<br></p>
        <p>Email: gamer-support@gameexchange.com<br>Phone: +1(123)-456-7890</p>
    </div>
</div>
<%- include('../partials/footer'); %>