<%- include('../partials/header'); %>
<div class="container">
<div class="jumbotron">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
        <h1 class="fw-light">Game Exchange</h1>
        <p class="lead">Welcome to Game Exchange.<br>Why buy? When you can Trade</p>
        </div>
    </div>
</div>
</div>
<%- include('../partials/footer'); %>