<link href="/css/newtrade.css" rel="stylesheet" type="text/css">
        <%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <h3>Trade your Game</h3>
        <form>
            <div class="mb-3">
                <label for="g_name" class="form-label">Game Name</label>
                <input type="text" class="form-control" placeholder="Enter game name" id="g_name" name="g_name">
            </div>
            <div class="mb-3">
                <label for="g_category" class="form-label">Game Category</label>
                <input type="text" placeholder="Enter game category" class="form-control" id="g_category" name="g_category">
            </div>
            <div class="mb-3">
                <label for="g_device" class="form-label">Game Device</label>
                    <select class="form-select" aria-label="Default select" name="g_device" id="g_device">
                        <option value="playstation">Play Station</option>
                        <option value="xbox">Xbox</option>
                        <option value="nintindo">Nintindo</option>
                        <option value="pc">PC</option>
                    </select>
            </div>
            <div class="mb-3">
                <label for="g_details" class="form-label">Game Description</label>
                <textarea id="g_details" class="form-control" name="g_details" value="g_details" rows="4" cols="50"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create Exchange</button>
                <button type="clear" class="btn btn-secondary">Clear Form</button>
            </div>
        </form>
    </div>
</div>
        <%- include('../partials/footer'); %> 