<link href="/css/newtrade.css" rel="stylesheet" type="text/css">
        <%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <h3>Trade your Game</h3>
        <form action='/trades' method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Game Name</label>
                <input type="text" class="form-control" placeholder="Enter game name" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Game Category</label>
                <input type="text" placeholder="Enter game category" class="form-control" id="category" name="category" required>
            </div>
            <div class="mb-3">
                <label for="device_type" class="form-label">Game Device</label>
                    <select class="form-select" aria-label="Default select" name="device_type" id="device_type">
                        <option value="playstation">playstation</option>
                        <option value="xbox">xbox</option>
                        <option value="nintindo">nintindo</option>
                        <option value="pc">pc</option>
                    </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Game Description</label>
                <textarea id="description" class="form-control" name="description" value="description" rows="4" cols="50" required minlength="10"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" value='Submit'>Create Exchange</button>
                <button type="clear" class="btn btn-secondary">Clear Form</button>
            </div>
        </form>
    </div>
</div>
        <%- include('../partials/footer'); %> 