<link type="text/css" rel="stylesheet" href="/css/trades.css">
<%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assests/images/shooting.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Action</h5>
                <p class="card-text">Love Action? Good Choice</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/trade" class="card-link">FPS</a>
                </li>
                <li class="list-group-item">
                    <a href="/trade" class="card-link">TPS</a>
                </li>
                <li class="list-group-item">
                    <a href="/trade" class="card-link">Battle Arena</a>
                </li>
            </ul>
            <!-- <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div> -->
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assests/images/moba.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">MOBA</h5>
                <p class="card-text">Love Strategy? Lets Conquer</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ancient</li>
                <li class="list-group-item">Shooting</li>
                <li class="list-group-item">Conquest</li>
            </ul>
            <!-- <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div> -->
        </div>
    </div>
</div>
<%- include('../partials/footer'); %> 