<link type="text/css" href="/css/trade.css" rel="stylesheet">

<%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <div class="item">
            <div class="item-sale">
                <aside class="item-image">
                    <img class="card-img-top" src="/assests/images/shooting.jpg" alt="Card image cap">
                </aside>
                <div class="item-btns">
                    <h4> Counter Strike: Go</h4>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Make Exchange</button>
                        <button type="clear" class="btn btn-secondary">Rate</button>
                    </div>
                </div>
            </div>
            <div class="item-info">
                <h3>Description:</h3>
                Counter-Strike: Global Offensive (CS: GO) expands upon the team-based action gameplay that it pioneered when it was launched 19 years ago. CS: GO features new maps, characters, weapons, and game modes, and delivers updated versions of the classic CS content (de_dust2, etc.).
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>